.primary-menu{
    position: absolute; top: 41px; right: 0px; left: 0px;
    height: 300px;
    z-index: 100;
}

/*#menu-fade{
    position: absolute; top: 41px; right: 0px; left: 0px;
    z-index: 100;
}*/